#banner{
    background: var(--fundo-escuro);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
}

.container_banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#texto_banner{
    display: flex;
    gap: 30px;
    flex-direction: column;
    width: 45%;
}

#texto_banner p{
    font-size: 1.7rem;
    color: var(--cinza);
}

#texto_banner h1{
    font-size: 2.5rem;
    color: var(--cinza);
}

.img_banner{
    display: flex;
    width: 30%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.container_catalogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;
}

.lista_jogos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.titulo_jogos{
    display: flex;
    justify-content: center;
}

.linha_jogos{
    border: none;
    background-color: rgba(255 42 42 / 0.62);
    width: 50%;
    margin: 20px auto;
}

.cabecalho_jogos{
    flex-direction: column;
    margin-bottom: 50px;
}


.area_paginacao{
    display: flex;
    gap: 30px
}

.area_paginacao button{
    width: 35px;
    height: 35px;
    border: 1px solid #570026;
    background: transparent;
    color: white;
    cursor: pointer;
}


.card_curiosidade{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--cinza);
    padding: 15px;
}
.img_curiosidades{
    display: flex;
}


.texto_final{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aba_pesquisar{
    display: flex;
    flex-direction: row;
    align-items: center;
   justify-content: center;
    gap: 70px;
    margin-bottom: 50px;
}

.pesquisar_botao{
    display: flex;
    max-width: 400px;
    width: 100%;
    background-color: var(--cinza);
    border-radius: 5px;
    padding: 10px;
}


.pesquisar_botao::placeholder{
    color: var(--branco);
}

.menor_preco_botao{
    display: flex;
    background-color: var(--cinza);
    border-radius: 5px;
    padding: 10px;
    max-width: 120px;
    width: 100%;
    color: var(--branco);
}

.menor_preco_botao:hover {
    background-color: #474747;
    border-color: #c22d2d;
    color: #383838;
}

.categoria_botao{
    display: flex;
    background-color: var(--cinza);
    border-radius: 5px;
    padding: 10px;
    max-width: 120px;
    width: 100%;
    color: var(--branco);
}

.categoria_botao:hover{
    background-color: #474747;
    border-color: #c22d2d;
    color: #383838;
}