#header {
    height: 10vh;
    background-color: var(--fundo-escuro);
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    display: flex;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: var(--branco);
    justify-content: center;
}

.link:hover {
    color: #666666;
    text-decoration: none;
}

.menu{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-padrao);


}

.menu p{
    font-size: 1.5rem;
}

.btn_icon{
    background-color: var(--fundo-escuro);
    color: var(--branco);
    border-color: var(--vermelho);
    border-radius: 8px;
    padding: 7px 18px;
    font-family: var(--font-padrao);
}



