.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}


.infos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.infos p{
    font-size: 1.4rem;
}

#footer_home{
    display: flex;
    justify-content: center;
}